@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.Web.styles.css" asp-append-version="true" />
    <link rel="icon" href="@Url.Content("https://postcardsplus.com/images/newFav.ico")" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://postcardsplus.com/images/newFav.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <style>
        body {
            background-color: #fff1f3;
        }
        .dropdown-item:hover {
            /* background-color: #3A3B3C; */
        }
        .btn-login {
            box-shadow: none !important;
            outline: none !important;       
        }
        .navbar-collapse {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .admin-drop {
            margin-left: 10.2em;
        }
        .admin-pre-drop {
            margin-right: 2em;
        }

        .sidebar {
            height: 45%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: peachpuff;
            overflow-x: hidden;
            margin-top: 14em;
            padding-top: 20px;
            border-radius: 10px 0 0 10px;
            
        }

            .sidebar a {
                padding: 10px;
                text-decoration: none;
                font-size: 16px;
                display: block;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

        .sidebar-link {
            list-style: none;
        }

        .welcome-label {
            align-self: flex-end;
            padding-bottom: 1em;
        }
    </style>
</head>
<body>
    <header class="mb-5">
        <nav class="navbar navbar-expand-xxxl fixed-top navbar-toggleable-xxxl navbar-dark  border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand text-dark logo-anchor" asp-area="" asp-controller="Home" asp-action="Index"><span><img class="logo" src="/epg_logo.png" /></span></a>
                <button class="navbar-toggler text-dark hamburger btn-login" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="background-color: #ffe2e8"></span>
                </button>
                <div class="navbar-collapse collapse d-xxxl-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 admin-pre-drop">
                         @* <li class="nav-item">
                            <a class="nav-link text-dark" 
                                asp-area="" 
                                asp-controller="Home" 
                                asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                                asp-area="" 
                                asp-controller="Home" 
                                asp-action="Index">Store</a>
                        </li>  *@

                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="text-dark welcome-label">
                                Welcome,&nbsp;@User?.Identity?.Name
                            </div>
                        }

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown my-sm-0">
                                <a class="nav-link dropdown-toggle text-dark btn-login admin-drop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu bg-light hover-light">
                                    <li>
                                        <a class="dropdown-item text-dark hover-light btn-login"
                                           asp-area=""
                                           asp-controller="AdminBlogPosts"
                                           asp-action="Add">
                                            Add Blog Post&nbsp;&nbsp;&#9734;
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark hover-light btn-login"
                                           asp-area=""
                                           asp-controller="AdminBlogPosts"
                                           asp-action="List">
                                            View/Edit Blog Posts
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark hover-light btn-login"
                                           asp-area=""
                                           asp-controller="AdminTags"
                                           asp-action="Add">
                                            Add New Tag
                                        </a>
                                    </li>                              
                                    <li>
                                        <a class="dropdown-item text-dark hover-light btn-login"
                                           asp-area=""
                                           asp-controller="AdminTags"
                                           asp-action="List">
                                            View Tags
                                        </a>
                                    </li> 
                                    <li>
                                        <a class="dropdown-item text-dark hover-light btn-login"
                                           asp-area=""
                                           asp-controller="AdminUsers"
                                           asp-action="List">
                                            View Users
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        
                    </ul>

                    <div class="d-flex align-items-center p-3" >

                        @if (signInManager.IsSignedIn(User))
                        {

                            <a class="btn btn-login me-3 text-dark"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Logout">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-login me-3 text-dark"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Login">
                                Login
                            </a>

                            <a class="btn btn-login me-3 text-dark"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Register">
                                Join
                            </a>
                        }                       
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="background-color: #fff1f3;">
            @* <div>
                <div class="sidebar">
                    <p style="text-align: center;"><i>Quick Links&nbsp;</i></p>
                    <a class="text-dark" href="https://www.google.com">&#9734;&nbsp;<i>Scratch Kitchen&nbsp;</i></a>
                    <a class="text-dark" href="https://www.google.com">&#9734;&nbsp;<i>Low Carb&nbsp;</i></a>
                    <a class="text-dark" href="https://www.google.com">&#9734;&nbsp;<i>Healthy Holiday&nbsp;</i></a>
                </div>
            </div> *@
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container text-dark">
            &copy; 2023 - Eat Pray Garden @* - <a asp-area="" asp-controller="Home" asp-action="Privacy"><span class="text-light">Privacy</span></a> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
